@page "/edit-expense/{Id:int}"
@inject NavigationManager Navigation
@inject IExpenseService ExpenseService
@inject IExpenseTagService ExpenseTagService

<div class="main">
    <div class="edit-expense-container">
        <div class="heading">
            <h1>Edit Expense</h1>
        </div>
        <EditForm Model="Expense" OnValidSubmit="UpdateExpenseEntry" FormName="EditExpenseForm">
            <div class="edit-expense-form-container">
                <div class="form-field">
                    <label>Value:</label>
                    <div>
                        <InputNumber id="value" class="form-control" @bind-Value="Expense!.Value" />
                        <ValidationMessage For="@(() => Expense.Value)" />
                    </div>
                </div>

                <div class="form-field">
                    <label>Description:</label>
                    <div>
                        <InputText id="description" class="form-control" @bind-Value="Expense.Description" />
                        <ValidationMessage For="@(() => Expense.Description)" />
                    </div>
                </div>

                <div class="form-field">
                    <label>Tag:</label>
                    <div>
                        <InputSelect id="tag" class="form-control" @bind-Value="Expense.Tagid">
                            <option value="">Select Tag</option>
                            @foreach (var tag in ExpenseTags!)
                            {
                                <option value="@tag.Id">@tag.Name</option>
                            }
                        </InputSelect>
                    </div>
                </div>
            </div>

            <button class="btn btn-primary" type="submit">
                Done
            </button>
            <DataAnnotationsValidator />
        </EditForm>
        @if (Error)
        {
            <span class="error-message-simple">@ErrorMessage</span>
        }
    </div>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    public Expense? Expense = new();
    List<ExpenseTag>? ExpenseTags = new();
    public bool Error = false;
    public string ErrorMessage = "An unknown error occured.";

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            Expense = await ExpenseService.GetExpenseByIdAsync(Id);
        }
        catch (HttpRequestException)
        {
            Error = true;
            ErrorMessage = "We couldn't find the id you are looking for. Are you sure you have the right id?";
        }
        catch (Exception)
        {
            Error = true;
            ErrorMessage = "An unknown error occured. Please try again later";

        }
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await ExpenseTagService.LoadExpenseTagsAsync();
        }

        catch (HttpRequestException)
        {
            Error = true;
            ErrorMessage = "We're unable to fetch the data at the moment. Please try again after some time.";
        }
        catch (Exception)
        {
            Error = true;
            ErrorMessage = "An unknown error occured. Please try again later";

        }

        ExpenseTags = ExpenseTagService.ExpenseTags ?? new();
    }

    async Task UpdateExpenseEntry()
    {
        Expense!.Tag = ExpenseTags.FirstOrDefault(tag => tag.Id == Expense.Tagid);
        try
        {
            await ExpenseService.EditExpenseAsync(Id, Expense);
        }

        catch (HttpRequestException)
        {
            Error = true;
            ErrorMessage = "We're unable to update the expense at the moment. Please try again after some time.";
        }
        catch (Exception)
        {
            Error = true;
            ErrorMessage = "An unknown error occured. Please try again later";
        }

        if (!Error)
        {
            Navigation.NavigateTo("/");
        }

    }
}
